* {
  box-sizing: border-box;
}
#top-left, #top-right, #bot-left, #bottom-nav {
  display: none;
}
.mobile-logo-container {
  float: left;
  background: #000000;
  width: 106px;
  height: 80px;
}
.logo {
  width: 66px;
  height: 16px;
  margin-left: 20px;
  margin-top: 32px;
}
#navbar-container{
  display: none;
}
#collapsible-navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: 106px 1fr 80px 80px;
  grid-template-rows: 80px;
}
#collapsible-navbar li {
  border-left: solid 1px rgb(235, 228, 228);
}
#hamburger-bar {
  grid-area: 1 / 4;
  padding-top: 20px;
  width: 80px;
}
#hamburger-bar div {
  width: 30px;
  height: 4px;
  background-color: #f42;
  margin: 6px auto;
}
#logo {
  grid-area: 1 / 1;
  height: 80px;
  width: 106px;
  background: black;
}
#search {
  width: 80px;
  grid-area: 1 / 3;
}
#search svg {
  border: none;
}
#search svg {
  margin-top: 32px;
}
.featured-message {
  clear: both;
  height: 76px;
  width: 100vw;
  background: #fd3;
  line-height: 76px;
  text-align: center;
  box-shadow: 0 16px 48px rgba(0,0,0,.15);
  font-family: sans-serif;
}
.text-container {
  margin: 10px 20px;
  bottom: 0;
  position: absolute;
  width: calc(100% - 50px);
  color: white;
}
#top-articles-container a {
  text-decoration: none;
}
.top-articles {
  height: 299px;
  margin: 20px;
  position: relative;
}
h1, h5, h6 { 
  font-family: sans-serif;
}
#cat-date {
  grid-area: 1 / 1;
  background-image: linear-gradient(to bottom, rgba(120,122,120,0.38) 0%, rgba(100,100,100,0.45) 33%, rgba(0,0,0,1) 100%), url('../img/cat-date.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
#annual-event {
  grid-area: 2 / 1;
  background-image: linear-gradient(to bottom, rgba(120,122,120,0.38) 0%, rgba(100,100,100,0.45) 33%, rgba(0,0,0,1) 100%), url('../img/annual-event.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
#experts-wrong {
  grid-area: 3 / 1;
  background-image: linear-gradient(to bottom, rgba(120,122,120,0.38) 0%, rgba(100,100,100,0.45) 33%, rgba(0,0,0,1) 100%), url('../img/experts-wrong.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.article-categories-container a {
  color: white;
  text-decoration: none;
}
.article-categories-container .top-articles {
  height: 400px;
  background-size: cover;
  border: none;
  margin: 20px 20px 5px 20px;
  position: relative;
}
#hard-fork-image {
  background-image: url('../img/bitcoin_today-header_bitcoin_today-368x276.jpg');
}
#apps-image {
  background-image: url('../img/tiktok-513x270.png');
}
#gear-image {
  background-image: url('../img/Chromecast-sabrina-368x276.jpg');
}
#tech-image {
  background-image: url('../img/image-10-1-368x276.png');
}
#creative-image {
  background-image: url('../img/card-v-card-bank-account-multiplayer-game-368x276.png');
}
#podium-image {
  background-image: url('../img/data-540x270.jpg');
}
#insights-image {
  background-image: url('../img/experts-wrong.jpg');
}
#launch-image {
  background-image: url('../img/2-1-368x276.jpg');
}
#distract-image {
  background-image: url('../img/hqdefault1.jpg');
}
h1, h3, h5, h6 { 
  font-family: sans-serif;
}
img.emoji {
  display: inline;
  height: 1em;
  width: 1em;
}
.latest-news-bar {
  margin: 10px 20px;
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-row: 75px;
  grid-gap: 5px;
}
.latest-news-bar > img {
  grid-column: 1;
  grid-row: 1;
  height: 75px;
  width: 75px;
  object-fit: cover;
}
.news-bar-text {
  grid-column: 2;
  grid-row: 1;
  display: block;
}
.news-bar-text h3, .deal-desc h3 {
  font-family: sans-serif;
  font-weight: 700;
  margin: 5px 10px;
}
.news-bar-text h4 {
  font-family: sans-serif;
  font-weight: 300;
  margin: 5px 10px;
  color: gray;
}
.latest-container {
  height: 96px;
  background: #fff4f2;
  display: grid;
  grid-template-columns: 1fr 96px;
  grid-template-rows: 10px 25px 51px;
  grid-gap: 7px;
  margin: 0 20px;
  border: none;
}
article.latest-news img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.latest-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  grid-column: 2;
  grid-row: 1 / 4;
  z-index: 0;
}
.latest-container > h3,
.latest-container > h5 {
  grid-column: 1;
  margin: 0 20px;
  font-size: 1em;
}
.latest-container > h5 {
  grid-row: 2
}
.latest-container > h3 {
  grid-row: 3;
}
.article-categories-container ul {
  list-style-type: disc;
  list-style-position: outside;
  margin: 0 30px;
  font-size: .8em;
  font-family: sans-serif;
}
.article-categories-container ul li {
  border-bottom: solid 1px lightgray;
  color: red;
  line-height: 1.5;
  margin-top: 5px;
  padding-bottom: 5px;
}

.article-categories-container ul li > a {
  color: gray;
}
.upper-bar {
  width: auto;
  height: 50px;
  background: #f42;
  position: relative;
}
.inner-square {
  height: 80px;
  width: 80px;
  background: black;
  position: absolute;
  top: 15px;
  left: 15px;
}
.lower-bar {
  width: auto;
  height: 80px;
  background: rgba(255,68,34,0.08);
}
.upper-bar > h3 {
  margin-left: 110px;
  padding-top: 15px;
  font-family: sans-serif;
  color: white;
  font-weight: 300;
  font-size: 20px;
}
.lower-bar > h3 {
  padding-left: 110px;
  padding-top: 15px;
  margin: 0;
  font-family: sans-serif;
  font-weight: 700;
}
h2 {
  margin-top: 25px;
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 1.5em;
  color: #f42;
  font-weight: 800;
}
.latest-funding-container {
  margin: 0 20px;
}
.latest-funding {
  margin-top: 20px;
}
.latest-funding h4 {
  margin-left: 110px;
  margin-top: 5px;
  font-family: Monda;
  font-weight: 300;
  font-size: .75em;
  color: gray;
  text-transform: uppercase;
}
#funding-links > li > h3 {
  padding: 20px 0 0 20px;
}
#funding-links > li > h3 > a {
  text-decoration: none;
  color: #f42;
}
.inner-square img {
  height: 100%;
  width: 100%;
}
.whitespace-top, .whitespace-bottom {
  width: auto;
  line-height: 2;
  background: #fffaf8;
}
.whitespace-top {
  border-bottom: solid 1px lightgray;
}
.whitespace-top > p {
  padding: 10px 50px;
  font-family: sans-serif;
}
.whitespace-bottom {
    font-size: .8em;
    font-family: sans-serif;
}
.whitespace-bottom > p {
  padding: 10px 25px;
}
.text-container {
  text-shadow: 1px 1px black;
}
.text-container h1 {
  font-size: 1.25em;
  font-weight: 700;
}
.text-container h6 {
  margin-top: 5px;
  font-size: .75em;
  color: lightgray
}
h5 {
  font-family: Monda, sans-serif;
  font-weight: 700;
  line-height: 2;
}
.latest-deals {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-rows: 75px;
  margin: 10px 20px;
  grid-gap: 5px;
}
.deal-image img {
  grid-column: 1;
  height: 75px;
  width: 75px;
  object-fit: cover;
}
.deal-desc {
  grid-column: 2;
  font-size: .9em;
}
.old-price {
  font-family: sans-serif;
  color: gray;
  text-decoration: line-through; 
  font-size: .75em;
  margin: 0 10px;
}
.deal-desc p {
  margin-top: 10px;
}
.new-price {
  font-family: sans-serif;
  color: black;
  font-size: 1em;
  margin: 0;
}
footer {
  text-align: center;
}
.footer-links-container {
  height: 160px;
  background: #131313;
  padding: 35px;
}
.copyright-container {
  height: 123px;
  background: #000000;
}
.social-media-links-container li {
  display: inline-block;
  margin: 0 6px;
  background: #333;
  border-radius: 50%;
  height: 40px;
  padding: 12px;
  width: 40px;
}
.company-links-container li {
  padding: 32px 8px;
  display: inline-block;
  color: lightgray;
  font-family: Monda;
  font-size: 12px;
}
.icon {
	display: block;
	background: transparent url(../img/icons-sprite.svg) no-repeat;
	background-size: 1296px 1296px;
	background-position: 1296px 1296px;
	width: 16px;
	height: 16px;
}
.icon--facebook--light {
  background-position: -272px -272px;
}
.icon--twitter--light {
  background-position: -1024px -1024px;
}
.icon--youtube--light {
  background-position: -1280px -1280px;
}
.icon--instagram--light {
  background-position: -416px -416px;
}
.icon--pinterest--light {
  background-position: -672px -672px;
}
.icon--rss--light {
  background-position: -816px -816px;
}
.icon--mail--light {
  background-position: -576px -576px;
}
.copyright-container {
  color: white;
  font-family: sans-serif;
  font-size: 12px;
}
.copyright-container img {
  height: 12px;
  width: auto;
}
.copyright-container p {
  padding-top: 20px;
}
@media only screen and (min-width: 768px) {
  .mobile-logo-container {
    display: none;
  }
  #collapsible-navbar {
    display: none;
  }
  #navbar-container {
    display: block;
  }
  #top-left, #top-right, #bot-left, #bottom-nav {
    display: block;
  }
  .featured-message {
    height: 46px;
    line-height: 46px;
  }
  .featured-message > p {
    text-align: left;
    margin-left: 90px;
  }
  #top-left {
    height: 30px;
    width: 80px;
    background: black;
    float: left;
    z-index:9;
  }
  #cover-up {
    width: 80px;
    height: 30px;
    background: black;
    position: relative;
    top: 27.5px;
    z-index: 9;
  }
  #top-left img {
    position: relative;
    top: 30px;
    left: 10px;
    width: 60px;
    z-index: 9;
  }
  #bot-left {
    height: 50px;
    width: 80px;
    float: left;
    background: black;
    position: sticky;
    top:0;
    z-index: 5;
  }
  #bot-left img {
    width: 60px;
    margin-top: 17.5px;
    margin-left: 10px;  
  }
  #top-right {
    height: 30px;
    width: 100%;
    background: black;
  }
  #bot-right {
    height: 50px;
    width: 100%;
    background: white;
    position: sticky;
    top: 0;
    z-index: 4;
  }
  #top-nav ul, #bottom-nav ul {
    list-style: none;
    margin: 0;
  }
  #top-nav ul li {
    font-family: sans-serif;
    font-size: 12px;
    float: left;
    color: white;
    margin-left: 10px;
    line-height: 30px;
  }
  #right-nav li {
    float: right;
    color: red;
    margin-left: 10px;
    line-height: 30px;
  }
  #right {
    float: right;
  }
  #right:last-child {
    margin-right: 20px;
  }
  #bottom-nav ul li {
    float: left;
    font-family: Monda;
    font-size: 13px;
    text-transform: uppercase;
    color: #a9a9a9;
    margin-left: 20px;
    line-height: 50px;
  }
  .top-articles {
    margin: 0;
    height: 100%;
  }
  #top-articles-container {
    margin: 10px 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 244px 244px;
    grid-gap: 10px;
    overflow: hidden;
  }
  #cat-date-link {
    grid-area: 1 / 1 / 3 / 2;
    height: 100%;
  }
  #annual-event-link {
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
    overflow: hidden;
  }
  #experts-wrong-link {
    grid-area: 2 / 2 / 3 / 3;
    height: 100%
  }
  #cat-date {
    background-size: cover;
  }
  #annual-event-link {
    background-size: cover;
  }
  #experts-wrong {
    background-size: cover;
  }
  #top-articles-container h5 {
    text-transform: uppercase;
  }
  #cat-date-link h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  #latest-news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 232px);
  }
  .latest-news-bar {
    display: block;
  }
  .latest-news-bar img {
    width: 100%;
    height: 116px;
  }
  .latest-funding-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 272px;
    grid-gap: 10px;
  }
  .article-categories-supercontainer {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .latest-deals-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 271px);
    grid-gap: 10px;
  }
  .latest-deals {
    display: block;
  }
  .deal-image img {
    width: 100%;
    height: 183px;
  }
  .copyright-container {
    height: 98px;
  }
  .copyright-container p {
    color: lightgray;
    display: inline;
    line-height: 98px;
  }
}
@media only screen and (min-width: 1114px) {
  #latest-news-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 232px);
  }
  .latest-news-bar {
    display: block;
  }
  .latest-news-bar img {
    width: 100%;
    height: 116px;
  }
}